.main{
  background: url(./images/head.jpg) no-repeat ;
height: 850px;

}
.main-head{
 
    font-size: 5rem;
    background-color: transparent;
    width: 70%; 
 
  padding-top: 5%;
}
.main-head>i{
    background: transparent;
    color: #0CC0DF;
    
}
.para{
    background: transparent;
     padding: 20px 110px;
     font-weight: 400;
 

}
.img-container{
    background: transparent;
    position: relative;
    top: 13%;
}
.arrow{
  background-color: transparent;
 
}
.main-arrow{
  background: transparent;
  color: #ffffff;
  rotate: 90deg;
  margin-top: 70px;
  background: rgba(255, 255, 255, 0.425);
  border-radius: 50%;
  padding: 15px;
  border: 1px solid white;
 
  
}
.img-fluid{
    background: transparent;
}

@media screen and (max-width: 1400) {
    .main-head {
      font-size: 5rem;
    }
    .para{
      
       padding: 20px 100px;
    }
  }
@media screen and (max-width: 1200px) {
    .main-head {
      font-size: 4rem;
    }
    .para{
       padding: 20px 60px;
    }
  }
@media screen and (max-width: 992px) {
    .main-head {
      font-size: 3rem;
      width: 80%; 
    }
    .para{
       padding: 20px 35px;
    
    }
  }
@media screen and (max-width: 768px) {
    .main-head {
      font-size: 2rem;
      width: 90%; 
    }
    .para{
        padding: 20px 30px;
     
     }
  }
@media screen and (min-width: 576) {
    .main-head {
      font-size: 1.5rem;
      width: 95%; 
    }
    .para{
        padding: 20px 25px;
     
     }
  }